<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scroll and View Animations</title>
  <link rel="stylesheet" href="../output.css">
</head>
<body>
  <div class="h-[400vh]">
    <div class="fixed top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%]">
      <div class="bg-zinc-400 animation-timeline-scroll animate-spin size-48 animation-range-start-1/2 "></div>
    </div>
    <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam molestias fugit ipsa nam eius ab provident et ipsum similique? Nisi soluta eveniet, assumenda nulla ratione tempore dolore cum iusto!</p> -->
  </div>
</body>
</html>