---
import CopyButton from "./CopyButton.svelte";
---

<header>
  <div class="mt-20 mb-32">
    <div class="flex items-center flex-col">
      <span
        class="bg-primary font-medium px-2 py-1 text-sm leading-none rounded-sm mb-2"
        >v.1.0.1</span
      >
      <h1 class="text-4xl font-bold">Scroll/View Animation Plugin</h1>
      <span class="text-lg mt-1 mb-4"
        >Add 'animation-timeline' support to TailwindCSS</span
      >
      <CopyButton client:load />
    </div>
  </div>
</header>
